.myFlexboxRow {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-around;

  
}

.myFlexboxColumns{
  Flex: 33%;
  padding: 30px;
  margin: 30px;
  
}

@Media screen and (max-width: 600px){
  .myFlexboxRows{
    flex-direction: column;
  }
}